*{
    box-sizing: border-box;
    color: #f5f5f5;
}

/* .index body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
} */
/* 
body{ cursor: url('cursor.cur'), auto;} */

@font-face {
  font-family: Steps; 
  src: url(/assets/fonts/Steps-Mono.otf); 
}

@font-face {
  font-family: Steps-Thin; 
  src: url(/assets/fonts/Steps-Mono-Thin.otf); 
}

html{
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #2D3750;
    overflow-x: hidden;
}

h1{
    font-size: 2.5rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
  font-family: Steps, "Montserrat", Arial, Helvetica, sans-serif; 
  font-size: 2rem;
  color: #6EEF6E;
}

h3 {
  font-family: Steps, "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #2D3750;
}

h4 {
  font-family: Steps, "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #2D3750;
}

.index p, #remote-dropdown p{
    font-size: 1.5rem;
    font-family: Steps, "Montserrat", Arial, Helvetica, sans-serif;
}

p{
    font-family: Steps-Thin, "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    color:#2D3750;
}

.wide-img{
    width: 100%;
}


figcaption{
    font-family: Steps-Thin, "Montserrat", sans-serif;
}

figure img{
    max-width: 400px;

}

iframe{
    display: block;
    margin: 10px auto;
    width: 60%;
    min-width: 320px;
    aspect-ratio: 16/9;

}

iframe.vertical{
    aspect-ratio: 9/16;
    height: 600px;
}

main{
    width: 100%;
    min-width: 320px;
    margin: 0 auto 70px auto;
    /* border: 2px solid red; */
}

main h2{
    text-align: center;
}



/*BUTTON STYLES*/

button{
    font-size: 1.25rem;
    padding: 10px;
    border-radius: 5px;
    font-family: "Montserrat", Arial, Arial, Helvetica, sans-serif;
    background-color: #69A1CF;
    margin: 20px;
}

button:hover{
    cursor: pointer;
    background-color: #E2B2EF;
}

button:active{
    cursor: pointer;  
    background-color: #b53cd7;
}


a:has(button) button:hover{
    color: #2D3750;
}

.info-card.essay button{
    flex: 1;
    margin: 60px;
}





header{
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
    padding: 0 1rem;
    background-color: #2D3750;
}


.centered{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dots{
    position: sticky;
    top: 90px;
    padding: 0 0.5rem;
}

/*REMOTE DROPDOWN*/

#remote-div{
    width: 55px;
    height: 55px;
    object-fit: contain;
    background-image: url(/assets/images/remote.png);
    position: relative;
    

}

#remote-div:hover{
    cursor: pointer;
    background-image: url(/assets/images/remote-hover.png);

}

#remote-div:active{
    background-image: url(/assets/images/remote-active.png);

}

#remote-dropdown{
    position: fixed;
    right: 20px;
    top: 100px;
    background-color: #69A1CF;
    background: linear-gradient(#4e83ae, #69A1CF, #215885);
    box-shadow: #000 0 0 10px;
    height: 600px;
    width: 350px;
    border-radius: 25px;
    z-index: 3;
    display: none;
    padding: 20px;
}

#remote-dropdown p{
    text-align: center;
    font-size: 1rem;
}

#remote-screen{
    background-color: #0d1834;
    color: #6EEF6E;
    width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

#remote-screen:hover{
    cursor: pointer;
    background-color: #000;
}

.remote-button-row{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 80px;
    margin-top: 20px;
}

.remote-link{
    flex: 1;
}

.remote-button-group{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    justify-content: top;
    align-items: center;
    height: 100%;
    /* border: 2px solid yellow; */
}



.remote-link p{
    font-size: 0.75rem;
}

.remote-link:hover p{
    color: #000000;
}

.remote-link:active p{
    color: #b53cd7;
}


.remote-link:hover .remote-button{
    background-color: #000000;
}

.remote-link:active .remote-button{
    background-color: #b53cd7;
}



.remote-button{
    background-color: #2D3750;
    width: 80px;
    height: 20px;
    border: 1px solid #535c72;
    border-radius: 5px;
    box-shadow: #2D3750 2px 2px 4px;
    /* margin-top: -20px; */
}


.long-button{
    width: 200px;
}




/*LINK STYLING*/

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: #E2B2EF;
}

a:active{
    color: #b53cd7;
}

.obvious-link{
    text-decoration: underline;
    color: #69A1CF;
}


/* FLEX SETTINGS */
.flex{
    display: flex; 
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}



/* SPARK OVERLAYS */

#blue-spark{
    position: fixed;
    top: 20%;
    left: 30%;
}

#green-spark{
    aspect-ratio: 0.5;
    position: fixed;
    top: 55vh;
    left: -3vw;
}

#purple-spark{
    width: 150px;
    position: fixed;
    top: 60vh;
    left: 87vw;
}

/*HERO PAGE*/



#hero{
    /* border: 2px solid green; */
    justify-content: space-evenly;
}

#hero *{
    width: 80%;
    min-width: 320px;
    align-self: center;
    justify-self: center;
    flex: 1;
    /* border: 2px solid yellow; */
    color: #6EEF6E;
}

#hero img{
    display: block;
    margin: 20px auto;
}

#hero h2{
    margin-top: 20px;
}

#profile{
    min-width: 320px;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: #6EEF6E 0px 0px 20px;
}

#introduction{
    text-align: center;
}

#introduction p{
    text-align: left;

}




/*INFO CARD COMPONENT*/



.info-card{
    width: 100%;
    min-width: 300px;
    background-color: #f5f5f5;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 30px;
    /* box-shadow: #6EEF6E 0px 0px 20px; */
    /* border: 4px solid #6EEF6E; */
}

.info-card.project:hover{
    /* box-shadow: #E2B2EF 0px 0px 20px; */
    background-color: #E2B2EF;
}

.info-card-text{
    text-align: left;
    padding: 20px;
    flex: 2;
    justify-content: center;
}

.info-card img{
   width: 100px;
   /* height: 200px; */
   padding: 20px;
   aspect-ratio: auto;
   flex: 1;
   object-fit: contain;
   max-height: 200px;
   min-width: 300px;
}

.info-card.project img{
    width: 100px;
    max-height: 300px;
}

.info-card.essay{
    padding: 20px;
}

.info-card.essay .info-card-text{
    flex: 2;
    margin-right: 20px;
}


main.info-card-list {
    width: 70%;
    min-width: 320px;
}



/*INFO LINE COMPONENT*/
.info-line{
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 5px;
    align-content: left;
    padding: 10px 30px;
    margin-bottom: 30px;
}

.info-line:hover{
    background-color: #E2B2EF;
}
.info-line:active{
    background-color: #b53cd7;
}

.info-line p{
    margin-top: 0;
    text-align: left;
}

.project-page h2{
    margin: 50px 0 0 0 ;
}

.project-page h2:first-of-type{
    margin: 0;
}

.project-page h3, 
.project-page h4{
    color: #f5f5f5;
} 

main.project-page {
    width: 70%;
    min-width: 320px;
}

.project-page *{
    text-align: center;
}

.project-page p{
    font-family: "Montserrat", Arial, Arial, Helvetica, sans-serif;
    color: #f5f5f5;
    /* width: 100%; */
    text-align: justify;
    font-size: 1.25rem;
}

.side-by-side{
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.side-by-side *{
    flex: 1;
    text-align: center;
}

.side-by-side figure img{
    max-width: 300px;
}

.side-by-side iframe.vertical{
    max-width: 300px;
}


.side-by-side .flex-col{
    align-items: center;
}


.essay p{
    font-family: "Montserrat", Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
}


.contact a{
    font-size: 1.75rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 40px 0 20px;
}


.resume h2{
    text-align: center;
}
embed{
    /* border: 2px solid yellow; */
    height: 800px;
}

/*MEDIA QUERIES*/





@media screen and (max-width: 685px){

    h1{
    font-size: 1.5rem;
    }

    header{
        position: sticky;
        top: 0px;
        height: 100%;
    }

    .dots{
        position: sticky;
        top: 50px;

    }
}


@media screen and (max-width: 600px){
    .row-to-col{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .info-card{
        /* width: 95%; */
        padding: 10px;
    }

    .info-line{
        /* width: 95%; */
        padding: 20px;
    }
    .info-line .row-to-col{
        align-items: flex-start;
    }
    .info-line .row-to-col *{
        text-align: left;
    }

    .index main{
        width: 95%;

    }

    #green-spark{
        height: 200px;
        top: 720px;
    }
    #blue-spark{
        height: 100px;
        left: 20px;
    }#purple-spark{
        height: 200px;
        left: 320px;
        top: 500px;
    }

    header-component{
        padding: 5px;
        position: sticky;
        top:0px;
    }

    
    #remote-dropdown{
        top: 80px;
        right: 15px;
    
    }

    .info-card.row-to-col h2, .info-card.row-to-col h3,
    .info-card.row-to-col h4, .info-card.row-to-col p,
    .info-line.row-to-col h2, .info-line.row-to-col h3,
    .info-line.row-to-col h4, .info-line.row-to-col p{
        margin-top: 5px;
        margin-bottom: 5px;
        
    }






    
}





@media screen and (max-width: 460px){
    .dots{
        position: sticky;
        top: 70px;
        height: 30px;
    }
}